@import url('./content.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    
.body {
margin: 0;
}

.topnav {
    /*padding: 0 45px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    background-color: #C1aff7ff;
    color:black;
    font-family: 'Poppins', sans-serif;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: grid;*/
    grid-area: nav;
}

nav a {
    text-decoration: none;
    display: block;
    /*width: 250px; */
    height: 55px;
}

nav {
    margin: 0;
    padding: 0;
    display: grid;
    /*align-content: flex-end;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: #C1aff7ff;
}

nav li {
    list-style: none;
    width: 339px;
    background-color: #C1aff7ff;
}

nav ul {
    display: flex;
}

.picture {
    grid-area: picture;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 300px;
}

@media only screen and (max-width: 768px) {
nav {
    grid-template-columns: 1fr;
}
nav li {
    width: 100%;
}
}

@media only screen and (min-width: 600px) {
nav {
    grid-template-columns: repeat(2, 1fr);
}
nav li {
    width: 50%;
}
}
