@import url(register-nav.css);

.sidebar p {
    color:blue;
    background: #4d437fc2;
}

.sidebar {
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.avatar {
    border-radius: 50%;
    width: 300px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
    "nav nav nav nav"
    "picture . . ."
    "form form . ."
    "sidebar . . ."
    " footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #58129a;
}

.picture {
    background: #4d437fc2;
    grid-area: picture;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.nav {

}

form {
    background: #4d437fc2;
    grid-area: form;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;  
}

.footer {
    background: #4d437fc2;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}